<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/estilos.css'>
    {{{_sections.stylesheets}}}
  </head>
  <body>

    <div class="row nav-menu">
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <img class="userimg" src="https://pixel.nymag.com/imgs/daily/vulture/2019/02/27/27-michael-jackson.w700.h700.jpg"></img>
      </div>
      <div class="col-3"></div>
      <div class="col-5">
        <img class="icon-menu" src="https://cdn3.iconfinder.com/data/icons/medication-side-effect/180/medication-side-effects-006-512.png"></img>
        <img class="icon-menu" src="https://cdn2.iconfinder.com/data/icons/awards-and-seals-2/500/Award_certificate_medal_seal_badge_collection-512.png"></img>
        <img class="icon-menu" src="https://cdn0.iconfinder.com/data/icons/marketing-management-5/64/result-report-conclusion-document-success-research-work-512.png"></img>
      </div>
    </div>

    {{{ body }}}
  </body>
</html>
