<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/css/global.css'> 
    <link rel='stylesheet' href='/stylesheets/css/layouts/styles.css'>
    {{{_sections.stylesheets}}}
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
