<!DOCTYPE html>

<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/estilos.css'>
    {{{_sections.stylesheets}}}
  </head>
  <body>
    <nav class="navbar navbar-light menubar">
      <span class="navbar-brand mb-0 h1"> </span>
    </nav>

    <div class="row row-menu2">
      <div class="col-1"></div>
      <div class="col-3">
        <img class="userimg-menu2" src="https://pixel.nymag.com/imgs/daily/vulture/2019/02/27/27-michael-jackson.w700.h700.jpg"></img>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <img class="growing-bars-menu2" src="https://www.pngrepo.com/download/78093/growing-bar-chart.png"></img>
      </div>
    </div>
    {{{ body }}}
  </body>
</html>