<body>

<meta>
    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/coach.js"></script>
    <script src="../public/javascripts/checkCoachee.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"</script>
</meta>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  </style>
</head>

<div class="horario_e_coachees">
  <div class="gradback row" id="size_coach">
    <div class="barra1">
      <div id="boxhorario">
        <div class= "horatreino">
           13:30 
        </div>
      <!-- Rounded switch -->
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" name="toggleSwitch" id="toggleSwitch" />
              <label class="toggle-switch-label" for="toggleSwitch">
                <span class="toggle-switch-inner"></span>
                <span class="toggle-switch-switch"></span>
              </label>
          </div>
        </div>
    </div>
  </div>
  <div id="boxcoach">
    <div class="coachee1">
      <div class="fotocoachee">
        <img  src="/images/bonokit.jpg">
              
        </img>
      </div>
      

      <div id="nomecoachee"class= "nomecoachee1">
        Nome do Coachee
      </div>

      <div class= "tipotreinocoachee">
        Tipo de treino
      </div>
      
      <i class="fas fa-running" 
           style="color: #61A64C;
           font-size: 5em;
           margin-left: 497px;"
           ></i>
          

     
      <i type="button" class="far fa-check-circle"></i>


    </div>
  </div> 
  <div class="gradback row" id="size_coach">

  </div>



  </body>