<div class="gradback row" id="size_body">
<div class="texto-body">
	<p>Caso você tenha alguma restrição e/ou dor de</br> movimentos, marque na figura abaixo os locais</br> para que possamos orientar melhor o seu treino:</p>
</div>
	<div class="corpo">
	    <img src="/images/body.png" id ="image-body"/>
	    <img src="/images/pescoco.png" id ="image-pescoco"/>
			<img src="/images/cabeca.png" id ="image-cabeca"/>
			<img src="/images/coluna.png" id ="image-coluna"/>
			<img src="/images/quadril.png" id ="image-quadril"/>
			<img src="/images/ombro_esquerdo.png" id ="image-ombro_esquerdo"/>
			<img src="/images/ombro_direito.png" id ="image-ombro_direito"/>
			<img src="/images/coracao.png" id ="image-coracao"/>
			<img src="/images/cotovelo_esquerdo.png" id ="image-cotovelo_esquerdo"/>
			<img src="/images/cotovelo_direito.png" id ="image-cotovelo_direito"/>
			<img src="/images/punho_esquerdo.png" id ="image-punho_esquerdo"/>
			<img src="/images/punho_direito.png" id ="image-punho_direito"/>
			<img src="/images/mao_esquerda.png" id ="image-mao_esquerda"/>
			<img src="/images/mao_direita.png" id ="image-mao_direita"/>
			<img src="/images/joelho_esquerdo.png" id ="image-joelho_esquerdo"/>
			<img src="/images/joelho_direito.png" id ="image-joelho_direito"/>
			<img src="/images/tornozelo_esquerdo.png" id ="image-tornozelo_esquerdo"/>
			<img src="/images/tornozelo_direito.png" id ="image-tornozelo_direito"/>
	</div>
<img     height="600">
</div>
