<body>

<meta>
    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/coach.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</meta>

  <div class="gradback row" id="size_coach">
  <div class="barra1">
  <div id="boxcoach">
    <div class= "horatreino">
        <b> 13:30 </b>
      </div>
  </div>
    <img src="/images/Grupo201.png" style= "position: absolute; width:75px; height:30px; right: 50px; top: 40px" >
  </div>
  </div>

  <div class="barra2">
  <div id="boxcoach">
    <div class= "nomecoachee">
    <b>Nome do Coachee</b>
  </div>
  <div class= "nometreino">
    <b>Tipo de treino</b>
  </div>
    <img src="/images/Caminho170.png" style= "position: absolute; width:30px; height:30px; right: 100px; top: 40px" >
    <img src="/images/Grupo211.png" style= "position: absolute; width:30px; height:30px; right: 50px; top: 40px" >
  </div>
  </div>

  <div class="barra3">
  <div id="boxcoach">
    <div class= "nomecoachee">
    <b>Nome do Coachee</b>
  </div>
  <div class= "nometreino">
    <b>Tipo de treino</b>
  </div>
    <img src="/images/Caminho170.png" style= "position: absolute; width:30px; height:30px; right: 100px; top: 40px" >
    <img src="/images/Grupo211.png" style= "position: absolute; width:30px; height:30px; right: 50px; top: 40px" >
  </div>
  </div>

  <div class="barra4">
  <div id="boxcoach">
    <div class= "nomecoachee">
    <b>Nome do Coachee</b>
  </div>
  <div class= "nometreino">
    <b>Tipo de treino</b>
  </div>
    <img src="/images/Caminho170.png" style= "position: absolute; width:30px; height:30px; right: 100px; top: 40px" >
    <img src="/images/Grupo211.png" style= "position: absolute; width:30px; height:30px; right: 50px; top: 40px" >
  </div>
  </div>

  <div class="barra5">
  <div id="boxcoach">
    <img src="/images/Grupo201.png" style= "position: absolute; width:75px; height:30px; right: 50px; top: 40px" >
  </div>
  </div>

  <div class="barra6">
  <div id="boxcoach">
    <div class= "nomecoachee">
    <b>Nome do Coachee</b>
  </div>
  <div class= "nometreino">
    <b>Tipo de treino</b>
  </div>
    <img src="/images/Caminho170.png" style= "position: absolute; width:30px; height:30px; right: 100px; top: 40px" >
    <img src="/images/Grupo211.png" style= "position: absolute; width:30px; height:30px; right: 50px; top: 40px" >
  </div>
  </div>

  <div class="barra7">
  <div id="boxcoach">
    <div class= "nomecoachee">
    <b>Nome do Coachee</b>
  </div>
  <div class= "nometreino">
    <b>Tipo de treino</b>
  </div>
    <img src="/images/Caminho170.png" style= "position: absolute; width:30px; height:30px; right: 100px; top: 40px" >
    <img src="/images/Grupo211.png" style= "position: absolute; width:30px; height:30px; right: 50px; top: 40px" >
  </div>
  </div>

  <div class="barra8">
  <div id="boxcoach">
    <div class= "nomecoachee">
    <b>Nome do Coachee</b>
  </div>
  <div class= "nometreino">
    <b>Tipo de treino</b>
  </div>
    <img src="/images/Caminho170.png" style= "position: absolute; width:30px; height:30px; right: 100px; top: 40px" >
    <img src="/images/Grupo211.png" style= "position: absolute; width:30px; height:30px; right: 50px; top: 40px" >
  </div>
  </div>
