<body>
  <div class="countdown-top-box">
    <div class="countdown-top-label">
      TREINO INFERIOR
    </div>
  </div>
  <div class="countdown-background">
    <div class="time-mid-box">
      <div class="countdown-mid-label">
        SEU TREINO COMEÇA EM:
      </div>
      <div class="time-to-t">
        00:04:20
      </div>
    </div>
    <div class="countdown-bot-label">
      "Seu corpo é sua morada. Cuide-se!"
    </div>
    <div class="button-container-ctdwn">
      <button class="countdown-button btn btn-primary">DESMARCAR</button>
    </div>
  </div>
</body>
