<body id = "signup">
  <h1 class = "Livel">
    Livel
  </h1>
<form>
  <div class = "mid-text">Faça seu login</div>
  <div class = "login-box">
    <div class = "text-box">
    <input type="email" placeholder="CPF">
    </div>
    <div class = "text-box">
    <input type="password" placeholder="senha">
    </div>
  </div>
</form>
<div>
 <button  id = "singupbutton" type="button" class="btn btn-primary btn-block">ENTRAR</button>
</div>
</body>