<body class = "home">
	<div class = "padding1">
  <h1 class = "Livel">
    Livel
  </h1>
<form action = "/login" method = "post">
  <div class = "mid-text">Login</div>
  <div class = "login-box">
    <div class = "text-box">
    <input class="form-sizing" placeholder="Nº de matrícula" maxlength="14" name="AlunoID" onkeydown="javascript: fMasc( this, mCPF );">
    </div>
    <div class = "text-box">
      <input type="password" placeholder="senha" name="AlunoPwd" class="form-sizing">
    </div>
  </div>
  <div class = "btnlogin">
    <button id = "singupbutton" type="submit" class="btnchangelogin btn btn-primary btn-block">AVANÇAR</button>
  </div>
</form>
<font color="white" size="6"> <p align="center"><u>{{logado}}</u> </center></font>
	</div>
	<div id="solic-mat" target="_blank">
		<a id="cor-mat" href="/requestNumber">Solicitar número de matrícula<a>
	<div>
</body>
<script src = "/javascripts/cpf.js"></script>
