<body>
    <div class = "inicial-margin"></div>
    <div class = "training-mid-spot">
        <div class =  "training-mid-text">
            Treino Inferior
        </div>
        <div class = "row row-correction">
            <div class = "col-3"></div>
            <div class = "col-3 training-timing-finalizacao">
                Finalização: 
            </div>
            <div class = "col-4 training-timing">15:30:59</div>
        </div>
    </div>
    
    <div class = "row marginTraining">
        <div class = "col-3"></div>
            <div class = "col-6 backgroundcolor-boxes">
                <div class = "row">
                    <div class = "row">
                        <div class = "box-texts col-12">
                            Atividade
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "row padding-djiosa">
                        <div class = "col-1">
                            5
                        </div>
                        <div class = "row-2">
                            Min
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{!--  --}}