<body>
    <div class = "inicial-margin"></div>
    <div class = "training-mid-spot">
        <div class =  "training-mid-text">
            Treino Inferior
        </div>
        <div class = "row row-correction">
            <div class = "col-3"></div>
            <div class = "col-3 training-timing-finalizacao">
                Finalização:
            </div>
            <div class = "col-4 training-timing">15:30:59</div>
        </div>
    </div>

    <div class =  "marginTraining row-correction-right">
        <div class = "row row-correction">
            <div class = "col-2"></div>
                <div class = "col-8 backgroundcolor-boxes">
                    <div class = "row">
                        <div class = "row">
                            <div class = "box-texts col-12">
                                Atividade
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "row">
                            <div class = "col-1 total-time">
                                5
                            </div>
                            <div class = "col-1"></div>
                            <div class = "col-2 total-time-min">
                                Min
                            </div>
                            <div class = "col-2"></div>
                            <div class = "col-4 minutes-left">
                                05:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row row-correction">
            <div class = "col-2"></div>
                <div class = "col-8 backgroundcolor-boxes">
                    <div class = "row">
                        <div class = "row">
                            <div class = "box-texts col-12">
                                Pausa
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "row">
                            <div class = "col-1 total-time">
                                10
                            </div>
                            <div class = "col-1"></div>
                            <div class = "col-2 total-time-min">
                                Seg
                            </div>
                            <div class = "col-2"></div>
                            <div class = "col-4 minutes-left">
                                00:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row row-correction">
            <div class = "col-2"></div>
                <div class = "col-8 backgroundcolor-boxes">
                    <div class = "row">
                        <div class = "row">
                            <div class = "box-texts col-12">
                                Série
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "row">
                            <div class = "col-1 total-time">
                                5
                            </div>
                            <div class = "col-1"></div>
                            <div class = "col-2 total-time-min">
                                x
                            </div>
                            <div></div>
                            <div class = "col-7 series-left">
                                1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row row-correction margin-animated-btn-pre-training">
                <div class = "col-5"></div>
                    <div class = "col-6">
                        <button type="button" id="button_play" class="btn-training-border-radius btn btn-radius" onclick='buttonPlayPress()'>
                            <i class="fa fa-play btn-size"></i>
                        </button>
                    </div>
            </div>
        </div>
        <div class = "training-mid-spot">
            <div class="col-md-12 text-center">
                    <button class="btn-mid-training-bottom btn btn-primary">FINALIZAR</button>
            </div>
        </div>


<script src="/javascripts/d3.min.js"> </script>

<script src = "/javascripts/midTraining.js"></script>
