        -------------------------------<div class = "training-mid-spot">
            <div class="col-md-12 text-center">
                    <button class="btn-mid-training-exit btn btn-primary" data-toggle="modal" data-target="#exitBox">SAIR</button>
            </div>
        
        
        <div class="modal fade" id="exitBox" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <h4 class="exit-box-title"> Title </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <div class="fundo"></div>
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Modal body tem certeza que quer sair?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
        <div class="modal fade"  id="wantexit" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <div class="fundo"></div>
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                <div class =  "marginTraining row-correction-right">
                    <div class = "row row-correction">
                        <div class = "col-2"></div>
                            <div class = "col-8 backgroundcolor-boxes padding-exit">
                                <div class = "row">
                                    <div class = "col-12 rwexit">
                                        Você tem certeza que quer sair dessa página?
                                    </div>
                                </div>
                                <div class = "row">
                                    <div class = "col-12 rwexittext">
                                        Os dados não serão salvos
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class = "row row-correction">
                        <div class = "col-12 finish-avalie">
                            AVALIE SEU TREINO
                        </div>
                    </div>

                    <div class="container">
                        <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                        </div>
                  </div>

              </div>
            </div>
          </div>
        </div>

    <div class="return">
      <img id="seta-midTraining" src="/images/seta-midtraining.png" height="75" onclick="location.href='/trainingTypes'" style="position:relative; right:-90px; bottom:-10px">
      </img>
    </div>

        <script src="/jquery/jquery.js"> </script>
<script src = "/javascripts/midTraining.js"></script>
