<html>
<body>
<head>
  <script src="/jquery/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/javascripts/package/dist/Chart.js"></script>
	<script src="/javascripts/data-label/chartjs-plugin-datalabels.js"></script>


</head>
  <div class = "inicial-margin"></div>
    <div id="texto-ano-profile">
      <p class="caixa-ano text-center"> 2018</p>
    </div>
  <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active col" id="nav-MesAnterior-tab" data-toggle="tab" href="#nav-MesAnterior" role="tab" aria-controls="nav-MesAnterior"><p id="MesAnterior"></p></a>
    <a class="nav-item nav-link col" id="nav-MesAtual-tab" data-toggle="tab" href="#nav-MesAtual" role="tab" aria-controls="nav-MesAtual"><p id="MesAtual"></p></a>
    <a class="nav-item nav-link col" id="nav-results-tab" data-toggle="tab" href="#nav-results" role="tab" aria-controls="nav-results"><p  id="Resultados">Resultados</p></a>
  </div>
  </nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-MesAnterior" role="tabpanel" aria-labelledby="nav-MesAnterior-tab">
    <div class="container col mx-auto text-center">
      <img  class="img-responsive" id ="image-corpo" src="/images/corpo1.jpg" height="580">
      <label class="texto">{{aluno_resultados.ResultadoMedidaPescoco}}</label>
    </div>
      <div class="row">
        <div class="container col-8">
          <img  class="img-responsive" id ="image-corpo" src="/images/score.jpg" height="600" width="750">
        </div>
        <div class="row col-12 justify-content-center" id="texto-sair">SAIR</div>
      </div>
  </div>
  <div class="tab-pane fade" id="nav-MesAtual" role="tabpanel" aria-labelledby="nav-MesAtual-tab">
    <div class="container col mx-auto text-center">
      <img  class="img-responsive" id ="image-corpo" src="/images/corpo1.jpg" height="580">
      <label class="texto">{{aluno_resultados.ResultadoMedidaPescoco}}</label>
    </div>
      <div class="row">
        <div class="container col-8">
          <img  class="img-responsive" id ="image-corpo" src="/images/score.jpg" height="600" width="750">
        </div>
        <div class="row col-12 justify-content-center" id="texto-sair">SAIR</div>
      </div>
  </div>
  <div class="tab-pane fade" id="nav-results" role="tabpanel" aria-labelledby="nav-results-tab">
    <div class="container">
    <div class="row results">
    <div class="col" id="Forca">
      <svg class="posicaoCirculos">
        <circle id="circuloForcaPositivo" />
        <div id="porcentagemForcaPositivo"></div>
      </svg>
      <canvas id="myChart" height="330"></canvas>
      FORÇA
      <div id="TextoForca">
        = Abdominal + Flexão + Barra
      </div>
    </div>
    <div class="col" id="Cardio">CARDIO</div>
    <div class="w-100"></div>
    <div class="col" id="Peso">PESO</div>
    <div class="col" id="Gordura">% GORDURA</div>
    </div>
  </div>
  </div>
</div>

<script src="/javascripts/profile.js"></script>
<script>
document.getElementById("MesAtual").innerHTML = mes;
document.getElementById("MesAnterior").innerHTML = mesanterior;
porcentagem= porcentagem(data1,data2);
document.getElementById("porcentagemForcaPositivo").innerHTML = '+' + porcentagem + '%';
</script>

</body>
</html>
