<head>
    <link rel='stylesheet' href='/stylesheets/css/login/styles.css'>
    <link rel='stylesheet' href='/stylesheets/css/global.css'>
</head>
<body class = "home">
  <div class = "padding1">
  <h1 class = "Livel">
    Livel
  </h1>
<form>
  <div class = "mid-text">Solicite seu numero de matricula</div>
  <div class = "mid-text-bottom">Preencha os dados abaixo e enviaremos seu número de matrícula para seu e-mail</div>
  <div class = "login-box">
    <div class = "text-box">
      <input type="text" placeholder="nome" class="form-sizing">
    </div>
    <div class = "text-box">
    <input type= "text" placeholder="sobrenome" class="form-sizing">
    </div>
    <div class = "text-box">
    <input class="form-sizing" type="email" placeholder="CPF" maxlength="14" name="cpf" onkeydown="javascript: fMasc( this, mCPF );">
    </div>
    <div class = "text-box">
    <input type="email" placeholder="e-mail" class="form-sizing">
    </div>
  </div>
</form>

<div class = "btnlogin">
 <button  id = "singupbutton" type="button" class="btnchangelogin btn btn-primary btn-block">ENVIAR</button>
</div>
</div>
</div>
</body>

<script src = "/javascripts/cpf.js"></script>