<body id = "signup">
  <h1 class = "Livel">
    Livel
  </h1>
<form>
  <div class = "mid-text">Solicite seu numero de matricula</div>
  <div class = "mid-text-bottom">Preencha os dados abaixo e enviaremos seu número de matrícula para seu e-mail</div>
  <div class = "login-box">
    <div class = "text-box">
    <input type="text" placeholder="nome">
    </div>
    <div class = "text-box">
    <input type= "text" placeholder="sobrenome">
    </div>
    <div class = "text-box">
    <input type="email" placeholder="CPF">
    </div>
    <div class = "text-box">
    <input type="email" placeholder="e-mail">
    </div>
  </div>

</form>
<div>
 <button  id = "singupbutton" type="button" class="btn btn-primary btn-block">ENVIAR</button>
</div>
</body>
