<div class="trofeu">
  <img src="/images/trofeu12.png" style="width:230px">
  <br>
  <br>
  12 treinos/mês
  <br>
  <b>Ganhe 100 Livel Pontos</b>
</div>

<div class="medalha10">
  <img src="/images/medalha10.png" style="width:200px">
  <br>
  <br>
  10 treinos/mês
  <br>
  <b>Ganhe 60 Livel Pontos</b>
</div>

<div class="medalha8">
  <img src="/images/medalha8.png" style="width:200px">
  <br>
  <br>
  8 treinos/mês
  <br>
  <b>Ganhe 40 Livel Pontos</b>
</div>

<div class="medalha6">
  <img src="/images/medalha6.png" style="width:200px">
  <br>
  <br>
  6 treinos/mês
  <br>
  <b>Ganhe 20 Livel Pontos</b>
</div>
