<body class = "home">
  <div class = "padding1">
  <h1 class = "Livel">
    Livel
  </h1>
<form>
  <div class = "mid-text"> Realize seu cadastro</div>
  <div class = "login-box">
    <div class = "text-box">
    <input type="text" placeholder="nome">
    </div>
    <div class = "text-box">
    <input type= "text" placeholder="sobrenome">
    </div>
    <div class = "text-box">
    <input type="email" placeholder="e-mail">
    </div>
    <div class = "text-box">
    <input type="password" placeholder="criar senha">
    </div>
    <div class = "text-box">
    <input type="password" placeholder="confirmar senha">
    </div>
  </div>

</form>
<div class = "btnlogin">
 <button  id = "singupbutton" type="button" class="btntrainingchange btn btn-primary btn-block">CADASTRAR</button>
</div>
</div>
</body>
