<html>
<div id="countdown"></div>
<meta>
<script src="/jquery/jquery.js"></script>
</meta>
<h1><time>00:00</time></h1>

<button id="atividade">start</button>
<button id="stoppp">stop</button>

</html>
<script>
var h1 = document.getElementsByTagName('h1')[0],
    start = document.getElementById('start'),
    stop = document.getElementById('stop'),
    clear = document.getElementById('clear'),
    t,time=60*5;

function add() {
    time--;
    minutes = parseInt(time / 60, 10);
    seconds = parseInt(time % 60, 10);
    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;
    h1.textContent = (minutes > 9 ? "0" + minutes : minutes) + ":" + (seconds < 10 ? "0" + seconds : seconds);

    timer();
}
function timer() {
    t = setTimeout(add, 1000);
}
timer();


/* Start button */
atividade.onclick = timer;

/* Stop button */
stoppp.onclick = function() {

    clearTimeout(t);
}

</script>
