<body>
  <div class = "schedule-background">
    <div class="time-title">
      MARQUE SEU HORÁRIO
    </div>
  
    <div class="pick-time">
      <button type="button" class="btn btn-primary botao-horario">13:00</button>
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-primary botao-horario">13:30</button>
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-primary botao-horario">14:00</button>
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-primary botao-horario">14:30</button>
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-primary botao-horario">15:00</button>
    </div>
    <div class="pick-time"></div>
  </div>
</body>
