@import ../bootstrap/scss/bootstrap.scss

@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css)
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css)
@import url('https://fonts.googleapis.com/css?family=Dancing+Script')

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.home
  background-color: #632467

.padding1
  padding: 100px

.btnchangelogin:hover
  background-color: #d0c616
  border-color: #e6e600
  color: #632467

.btnchangelogin
  margin: 80px 0
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  padding: 2rem 1rem
  font-size: 50px
  font-weight: 600
  border-radius: 20px

.btnlogin //Para mudar a margin dos botões de login
  margin: 0 0

.text-box
  width: 100%
  overflow: hidden
  font-size: 50px
  padding: 8px 0
  margin: 70px 0
  border-bottom: 2px solid #ffffff

.text-box input
  border: none
  outline: none
  background: none
  font-size: 30px
  color: white

.form-sizing
  display: block
  width: 100%

::placeholder
   color: #e6e6e6

.mid-text
  color: white
  font-size: 35px
  text-align: center
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold

.mid-text-bottom
  color: white
  font-size: 32px
  text-align: center
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold
  margin: 30px 0

.Livel
  color: white
  font-size: 150px
  text-align: center
  margin: 130px
  font-family: Dancing Script
  font-weight: bold

/* O tamanho da fonte na tela Index é maior
.Livel-index
  color: white
  font-size: 200px
  font-family: Dancing Script
  font-weight: bold

.nav-menu
  background-color: #EF7D00
  padding: 13px 0px
  margin-bottom: 20px

.nav-tabs
  height: 10vw
  background-color: #EDEDED
  margin: none

.nav-item.nav-link.active
    color: #532166
    box-shadow: 10px 30px 0px -24px #532166
    font-weight: bold


.nav-item
  font-size: 3vw
  font-weight: 400
  top: 2vw
  height: 8vw
  text-align: center
  color: black
  margin-right: none

.userimg
  border-radius: 50%
  padding: 0px
  width: 70%
  height: 100%
  border-style: solid
  border-color: #EF7D00
  border-width: 5px

.icon-menu
  padding: 0px
  width: 25%
  height: 100%
  margin: 0 3% 0 3%

.background-menuBar
  background-color: #ffffff
  padding-bottom: 3%

.row-menu2
  height: 200px

.userimg-menu2
  border-radius: 50%
  margin: 5% 0 0 15%
  width: 80%
  height: 90%
  border-style: solid
  border-color: #ff8c1a
  border-width: 8px

.growing-bars-menu2
  padding: 0px
  width: 100%
  height: 75%
  margin: 5% 0 0 0

.modal-body
  height: auto

.modal-dialog
  max-width: 890px

button.close
  margin: 0
  position: absolute
  top: -20px
  right: 10px
  width: 4vw
  height: 4vw
  border-radius: 4vw
  background-color: #632467
  color: white
  font-size: 3vw
  opacity: 1
  font-weight: 200
  z-index: 10

.ModalImage
  width: 110px
  height: 52px
  margin-top: -50vw
  margin-left: 28vw


.TitleModal
  font-size: 4.5vw
  font-weight: 700
  color: #717171
  top: -40px

.Tensional
  font-size: 4vw
  font-weight: bold
  color: #FFBA2F
  right: -180px
  top: -10vw

.Tensionaltexto
  font-size: 3vw
  color: #231F20
  right: -180px
  top: -10vw

.Metabolico
  font-size: 4vw
  font-weight: bold
  color: #F5821F
  right: -18vw
  top: -10vw

.Metabolicotexto
  font-size: 3vw
  color: #231F20
  right: -180px
  top: -10vw

hr
  color: #DEDEDE
  size: 100px
  border-width: 0.4em
  width: 80%

#SegundaParte
  top: -30px

.boxRightUpperRadius1 //Caixa do popup trainingTypes
  top: 7vw
  width: 15vw
  height: 19vw
  font-size: 13.5vw
  text-align: center
  padding: 25px 40px 75px 30px
  font-weight: 700
  background-color: #FFBA2F
  border-radius: 0 40% 0 0
  color: black

.boxRightUpperRadius3 //Caixa do popup trainingTypes
  top: 7vw
  width: 15vw
  height: 19vw
  font-size: 13.5vw
  text-align: center
  padding: 20px
  font-weight: 700
  background-color: #F5821F
  border-radius: 0 40% 0 0
  color: black

.TipodeTreino
  font-size: 4vw
  color: #632467
  font-weight: bold


#Excentricabox
  top: 22vw
  right: 54vw

#Concentricabox
  top: -20vw
  right: -5vw

#Excentricatitle
  top: 25vw

#Concentricatitle
  top: -17vw
  right: -44vw

.TextoTreino
  font-size: 3.3vw
  color: #231F20

#Excentricatext
  top: 25vw
  right: -1.5vw

#Concentricatext
  top: -17vw
  right: -46vw

.boxRightUpperRadius2 //Caixa do popup trainingTypes
  font-size: 11.5vw
  text-align: center
  width: 15vw
  height: 15vw
  padding: 20px
  font-weight: 700
  background-color: #632467
  color: white
  border-radius: 0 40% 0 0

.btnboxRightUpperRadius1 //Radius e etc do box do trainings
  font-size: 10vw
  text-align: center
  width: 15vw
  height: 15vw
  padding: 0px 15px
  font-weight: 700
  color: black
  background-color: #FFBA2F
  border-radius: 0 40% 0 0
  outline-color: #FFBA2F !important


.btnboxRightUpperRadius2 //Radius e etc do box do trainings
  font-size: 10vw
  text-align: center
  width: 15vw
  height: 15vw
  padding: 0px 15px
  font-weight: 700
  background-color: #632467
  color: white
  border-radius: 0 40% 0 0
  border-color: #632467 !important

.btnboxRightUpperRadius2:active
  background-color: #632467 !important
  border-color: #632467 !important

.btnboxRightUpperRadius3 //Radius e etc do box do trainings
  font-size: 10vw
  text-align: center
  width: 15vw
  height: 15vw
  padding: 0px 15px
  font-weight: 700
  color: black
  background-color: #F5821F
  border-radius: 0 40% 0 0
  outline-color: #F5821F !important

.boxRadiusSpot
  background-color: rgb(244, 244, 244)
  padding: 4vh 0

.marginTraining
  padding: 3vh 0
  background-image: linear-gradient(#E6E6E6, #FAFAFA)

.btntrainingchange:hover
  background-color: #d0c616
  border-color: #e6e600
  color: #632467

.btntrainingchangeUP //propriedades do botao da pagina trainings
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  padding: 2.5rem 2rem
  margin: 1.1vh 0
  font-size: 50px
  font-weight: 600
  border-radius: 20px
  width: 60% //para bloquear o tamanho do btn

.btntrainingchangeDOWN //propriedades do botao da pagina trainings
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  padding: 1.5rem 1rem
  margin: 1.1vh 0
  font-size: 40px
  font-weight: 600
  border-radius: 20px
  width: 40% //para bloquear o tamanho do btn

#texto-ano-profile
  font-size: 50px
  margin-top: 80px
  margin-bottom: 20px
  margin-left: 56px
  color: #632467
  font-weight: bold

#texto-trainingTypes-1
  font-size: 35px
  margin-top: 80px
  margin-bottom: 20px
  margin-left: 40px
  color: #632467
  font-weight: bold

#texto-trainingTypes-2
  font-size: 25px
  top: -70px
  left: 180px
  color: #A6A4A5
  padding-bottom: 30px

#texto-trainingTypes-3
  font-size: 35px
  margin-left: 50px
  color: #632467


.time-title
  text-align: center
  color: #800040
  padding: 150px 0 50px 0
  font-size: 300%
  font-weight: bold
  margin: 0 0 0 0

.pick-time
  display: flex
  flex-direction: column
  justify-const: center
  margin: 5% 27% 3% 27%
  height: 160px

.botao-horario
  height: 100%
  border-radius: 10%
  font-size: 80px
  font-weight: bold
  background-color: #ffffff
  color: #000000
  border-color: #ffffff

.schedule-background
  margin-right: -15px
  background-image: linear-gradient(#d9d9d9, #ffffff)

.image-index
  background-image: url("/images/FundoIndex.png")
  opacity: 0.3
  height: 100%
  width: 100%

.txt-over-img
  position: relative
  text-align: center
  color: white

.centered
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.training-mid-spot
  background-color: rgb(244, 244, 244)
  padding: 4vh 0
  margin-right: -15px

.training-mid-text
  color: #632467
  font-size: 50px
  text-align: center
  font-weight: bold

.training-timing-finalizacao
  font-size: 50px
  text-align: center
  font-weight: bold
  padding-top: 20px

.training-timing
  font-size: 55px
  text-align: center
  font-weight: bold
  padding-top: 15px
  color: #AC4B31

.row-correction //corigindo quando fica um espaço vazio na direita
  margin: 0px

.row-correction-right //corigindo quando fica um espaço vazio na direita co-relacionado com o do lado
  margin: -15px

.box-texts
  font-size: 30px
  color: #632467
  font-weight: 600

.backgroundcolor-boxes
  background-color: white
  border-radius: 7%
  padding: 20px 60px 40px 60px
  margin: 20px 0px

.total-time
  font-size: 90px
  padding-top: 13px
  font-weight: bold

.total-time-min
  font-size: 40px
  padding-top: 60px
  font-weight: bold

.minutes-left //minutos restantes pro final do treino
  font-size: 110px
  color: #0ECB8C
  font-weight: bold
  text-align: center

.series-left //numeros de series que restam pro final do treino
  font-size: 110px
  color: #0ECB8C
  font-weight: bold
  text-align: center
  padding-left: 240px

#button_play
  font-size: 16vw
  margin: none
  padding: 0
  background: none
  border: none

.play, .pause
  margin: none
  padding: 0
  background: none
  border: none
  color: #632467

.btn-training-border-radius
  border-radius: 50%

.btn-change-purple
  background-color: #632467
  border-color: #632467
  color: white

.margin-animated-btn-pre-training //para aumentar a margin top e bottom do botão animado
  margin: 10px

.btn-mid-training-bottom //propriedades do botao da pagina pre trainings
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  padding: 1rem 0.7rem
  margin: 0.8vh 0
  font-size: 45px
  font-weight: 600
  border-radius: 20px
  width: 50% //para bloquear o tamanho do btn

.finish-parabens //escrito parabens grande no final do treino
  text-align: center
  font-size: 80px
  color: #0ECB8C
  font-weight: bold

.finish-parabens-treino //escrito em baixo do parabens
  text-align: center
  font-size: 32px
  color: #0ECB8C
  font-weight: bold

.padding-parabens //padding maior pro escrito parabens
  padding: 50px 0

.finish-avalie //texto avalie seu treino
  text-align: center
  font-size: 38px
  color: #632467
  font-weight: bold
  padding: 20px 0


#MesAnterior
  font-size: 32px
  margin-top: 8px

#MesAtual
  font-size: 32px
  margin-top: 8px

#Resultados
  font-size: 32px
  margin-top: 8px

.starrating > input
  display: none // Remove radio buttons

.starrating > label:before
  content: "\f005" // Star
  margin: 2px
  font-size: 8em
  font-family: FontAwesome
  display: inline-block


.starrating > label
  color: #E1E1E1 // Start color when not clicked

.starrating > input:checked ~ label
  color: #E7DB18  // Set yellow color when star checked

.starrating > input:hover ~ label
 color: #E7DB18 // Set yellow color when star hover

.facebook-padding
  padding: 20px 0

.countdown-top-box
  height: 220px
  position: relative
  background-color: #F2F2F2
  margin-right: -15px

.countdown-top-label
  color: #632467
  font-weight: bold
  font-size: 45px
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

.countdown-background
  height: 1300px
  background-image: linear-gradient(#d9d9d9, #ffffff)
  margin: -15px

.time-mid-box
  height: 400px
  width: 65%
  background-color: #ffffff
  margin: auto
  padding-top: 200px
  border-radius: 7%
  position: relative
  top: 15%

.countdown-mid-label
  text-align: center
  color: #0ECB8C
  font-weight: bold
  font-size: 37px
  position: relative
  bottom: 60%

.time-to-t
  color: #0ECB8C
  font-size: 160px
  font-family: Arial
  font-weight: bold
  position: relative
  text-align: center
  bottom: 40%

.countdown-bot-label
  text-align: center
  color: #632467
  font-weight: bold
  font-size: 43px
  position: relative
  top: 30%

.button-container-ctdwn
  position: relative
  top: 50%
  padding-left: 320px

.countdown-button
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  font-size: 40px
  font-weight: 600
  border-radius: 20px
  width: 58%
  height: 150px

.nomePerfil
  font-size: 29px
  padding-top: 55px
  color: #632467

.nomePerfil2
  font-size: 35px
  padding-top: 60px
  color: #e69500

.results
  font-size: 4vw
  font-weight: 700
  text-align: center
  color: #532166

#Forca
  height: 59vw
  border-style: solid
  border-width: thick
  border-radius: 2vw
  top: 4vw
  right: 3vw
  background-color: #F2F2F2
  border-color: #C6BBCE

#Cardio
  height: 59vw
  border-style: solid
  border-width: thick
  border-radius: 2vw
  top: 4vw
  background-color: #F2F2F2
  border-color: #C6BBCE

#Peso
  height: 59vw
  right: 3vw
  border-style: solid
  border-width: thick
  border-radius: 2vw
  background-color: #F2F2F2
  border-color: #C6BBCE

#Gordura
  height: 59vw
  border-style: solid
  border-width: thick
  border-radius: 2vw
  background-color: #F2F2F2
  border-color: #C6BBCE

.caixa-ano
  display: block
  margin-left: auto
  margin-right: auto
  background-color: #F2F2F2
  height: 57px
  width: 140px
  border-color: #A8A7A7

.linha-mes
  font-size: 40px

.container
  position: relative

#image-corpo
  margin-top: 20px

.image
  //margin-left: 150px
  margin-top: 90px

#texto-sair
  font-size: 35px
  color: #632467
  font-weight: bold
  margin-top: 35px

#texto-sair-result
  font-size: 35px
  color: #632467
  font-weight: bold
  top: -20px

#texto-ano-profile
  font-size: 50px
  margin-top: 10px
  margin-bottom: 10px
  margin-left: 56px
  color: #632467
  font-weight: bold

.posicaoCirculos
  height: 150px
  width: 150px
  margin-bottom: 30px
  margin-right: -150px

#grafForca
  margin-top: 4vw

#TextoForca
  font-size: 2.2vw
  color: #676767

#circuloForcaNegativo
  cx: 80
  cy: 80
  r: 55
  stroke: #FF818B
  stroke-width: 4
  fill: none

#circuloForcaPositivo
  cx: 80
  cy: 80
  r: 55
  stroke: #06BFB8
  stroke-width: 4
  fill: none

#porcentagemForcaPositivo
  font-size: 3.3vw
  font-weight: 300
  color: #06BFB8
  margin-top: -120px
  margin-left: 160px

#porcentagemForcaNegativo
  font-size: 3.3vw
  font-weight: 300
  color: #FF818B
  margin-top: -120px
  margin-left: 160px

#grafCardio
  margin-top: 4vw

#TextoCardio
  font-size: 2.2vw
  color: #676767

#circuloCardioNegativo
  cx: 80
  cy: 80
  r: 55
  stroke: #FF818B
  stroke-width: 4
  fill: none

#circuloCardioPositivo
  cx: 80
  cy: 80
  r: 55
  stroke: #06BFB8
  stroke-width: 4
  fill: none

#porcentagemCardioPositivo
  font-size: 3.3vw
  font-weight: 300
  color: #06BFB8
  margin-top: -120px
  margin-left: 160px

#porcentagemCardioNegativo
  font-size: 3.3vw
  font-weight: 300
  color: #FF818B
  margin-top: -120px
  margin-left: 160px

#grafPeso
  margin-top: 4vw

#TextoPeso
  font-size: 2.2vw
  color: #676767

#circuloPesoNegativo
  cx: 80
  cy: 80
  r: 55
  stroke: #FF818B
  stroke-width: 4
  fill: none

#circuloPesoPositivo
  cx: 80
  cy: 80
  r: 55
  stroke: #06BFB8
  stroke-width: 4
  fill: none

#porcentagemPesoPositivo
  font-size: 3.3vw
  font-weight: 300
  color: #06BFB8
  margin-top: -120px
  margin-left: 160px

#porcentagemPesoNegativo
  font-size: 3.3vw
  font-weight: 300
  color: #FF818B
  margin-top: -120px
  margin-left: 160px

#grafGordura
  margin-top: 4vw

#circuloGorduraNegativo
  cx: 80
  cy: 80
  r: 55
  stroke: #FF818B
  stroke-width: 4
  fill: none

#circuloGorduraPositivo
  cx: 80
  cy: 80
  r: 55
  stroke: #06BFB8
  stroke-width: 4
  fill: none

#porcentagemGorduraPositivo
  font-size: 3.3vw
  font-weight: 300
  color: #06BFB8
  margin-top: -120px
  margin-left: 160px

#porcentagemGorduraNegativo
  font-size: 3.3vw
  font-weight: 300
  color: #FF818B
  margin-top: -120px
  margin-left: 160px

.gradback
  background-image: linear-gradient(#ffffff, #E6E6E6)

#size_body
  height: 1522px

.results
  height: 1300px

.texto-body
  margin-top: 2vw
  margin-left: 5vw
  color: #532166
  font-size: 4.4vw

.corpo
  position: relative
  top: -15vw
  left: 30%
  margin-top: 150px

.trofeu
  text-align: center
  position: absolute
  top: 300px
  left: 150px
  width: 300px
  height: 300px


.medalha10
  text-align: center
  position: absolute
  top: 300px
  left: 550px
  width: 300px
  height: 300px

.medalha8
  text-align: center
  position: absolute
  top: 780px
  left: 150px
  width: 300px
  height: 300px


.medalha6
  text-align: center
  position: absolute
  top: 780px
  left: 550px
  width: 300px
  height: 300px

.rodape
  background-image: linear-gradient(#E8E8E8, #ffffff)
  position: absolute
  top: 1220px
  width: 995px
  height: 450px

.textoreward
  float: right
  margin-top: 160px
  margin-left: 410px
  color: #532166
  font-size: 30px

#image-body
  height: 100vw

#image-pescoco, #image-pescoco-dor
  position: absolute
  top: 11vw
  left: 14vw
  height: 2.5vw


#image-cabeca, #image-cabeca-dor
  position: absolute
  top: 1.5vw
  left: 15.3vw
  height: 4.5vw

#image-coluna, #image-coluna-dor
  position: absolute
  top: 15vw
  left: 17vw
  height: 28vw

#image-quadril, #image-quadril-dor
  position: absolute
  top: 44vw
  left: 10.4vw
  height: 6.3vw

#image-ombro_direito, #image-ombro_direito-dor
  position: absolute
  top: 16.5vw
  left: 6.5vw
  height: 5.5vw

#image-ombro_esquerdo, #image-ombro_esquerdo-dor
  position: absolute
  top: 16.5vw
  left: 24vw
  height: 5.5vw

#image-coracao, #image-coracao-dor
  position: absolute
  top: 21vw
  left: 20vw
  height: 3.8vw

#image-cotovelo_direito, #image-cotovelo_direito-dor
    position: absolute
    top: 33vw
    left: 2vw
    height: 4.2vw

#image-cotovelo_esquerdo, #image-cotovelo_esquerdo-dor
  position: absolute
  top: 33vw
  left: 29vw
  height: 4.2vw

#image-punho_direito, #image-punho_direito-dor
  position: absolute
  top: 48vw
  left: 0.7vw
  height: 2.7vw

#image-punho_esquerdo, #image-punho_esquerdo-dor
  position: absolute
  top: 48vw
  left: 33vw
  height: 2.7vw

#image-mao_direita, #image-mao_direita-dor
  position: absolute
  top: 54vw
  left: 0.9vw
  height: 2.7vw

#image-mao_esquerda, #image-mao_esquerda-dor
  position: absolute
  top: 53.8vw
  left: 32.8vw
  height: 2.7vw

#image-joelho_direito, #image-joelho_direito-dor
  position: absolute
  top: 73vw
  left: 9vw
  height: 4.5vw

#image-joelho_esquerdo, #image-joelho_esquerdo-dor
  position: absolute
  top: 73vw
  left: 21.5vw
  height: 4.5vw

#image-tornozelo_direito, #image-tornozelo_direito-dor
  position: absolute
  top: 90vw
  left: 11vw
  height: 3vw

#image-tornozelo_esquerdo, #image-tornozelo_esquerdo-dor
  position: absolute
  top: 90vw
  left: 22vw
  height: 3vw

#textoPescoco
  top: 9vw
  right: 35vw
  font-size: 4vw

#textoCabeca
  top: 1vw
  right: 35vw
  font-size: 4vw

#textoColuna
  top: 25vw
  right: 35vw
  font-size: 4vw

#textoQuadril
  top: 42vw
  right: 37vw
  font-size: 4vw

#textoOmbro_esquerdo
  white-space: nowrap
  top: 18vw
  right: -27vw
  font-size: 4vw

#textoOmbro_direito
  white-space: nowrap
  top: 18vw
  right: 35vw
  font-size: 4vw

#textoCoracao
  white-space: nowrap
  top: 22vw
  right: -15vw
  font-size: 4vw

#textoCotovelo_esquerdo
  white-space: nowrap
  top: 33vw
  right: -34vw
  font-size: 4vw

#textoCotovelo_direito
  white-space: nowrap
  top: 33vw
  right: 35vw
  font-size: 4vw

#textoPunho_esquerdo
  white-space: nowrap
  top: 47vw
  right: -32vw
  font-size: 4vw

#textoPunho_direito
  white-space: nowrap
  top: 47vw
  right: 38vw
  font-size: 4vw

#textoMao_esquerda
  white-space: nowrap
  top: 53vw
  right: -26vw
  font-size: 4vw

#textoMao_direita
  white-space: nowrap
  top: 53vw
  right: 37vw
  font-size: 4vw

#textoJoelho_esquerdo
  white-space: nowrap
  top: 74vw
  right: -22vw
  font-size: 4vw

#textoJoelho_direito
  white-space: nowrap
  top: 74vw
  right: 30vw
  font-size: 4vw

#textoTornozelo_esquerdo
  white-space: nowrap
  top: 90vw
  right: -25vw
  font-size: 4vw

#textoTornozelo_direito
  white-space: nowrap
  top: 90vw
  right: 28vw
  font-size: 4vw

#texto-body-baixo
  margin-left: 200px
  font-size: 30px
  color: #58276A
  font-family: Arial, Helvetica, sans-serif

.caixa-texto-body
  width: 100%
  overflow: hidden
  font-size: 50px
  padding: 8px 0
  margin: 30px 0
  margin-bottom: 40px
  border-bottom: 2px solid #000000

.caixa-texto-body input
    border: none
    outline: none
    background: none
    font-size: 30px
    color: #58276A

#seta
  margin-top: 50px
  margin-left: 20px

#seta-rewards
  margin-top: 42px
  margin-left: 37px

#seta-profile
  margin-top: 50px
  margin-left: 50px

#textodocirculo
  margin-top: 60px
  margin-left: 90px
  font-weight: 500
  font-size: 35px
  color: #632467

.zero
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/0-12.png")

.um
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/1-12.png")

.dois
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/2-12.png")

.tres
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/3-12.png")

.quatro
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/4-12.png")

.cinco
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/5-12.png")

.seis
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/6-12.png")

.sete
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/7-12.png")

.oito
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/8-12.png")

.nove
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/9-12.png")

.dez
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/10-12.png")

.onze
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/11-12.png")

.doze
  margin: none
  background-size: 400px 400px
  background-repeat: no-repeat
  background-image: url("/images/12-12.png")

#numerotreino
  margin-top: -30px
  margin-left: 80px
  font-size: 250px
  color: #632467
  font-weight: 700

#numerotreinomaior10
  margin-top: -30px
  margin-left: 20px
  letter-spacing: -20px
  font-size: 225px
  color: #632467
  font-weight: 700

#numerotreinox
  margin-top: -150px
  margin-left: 240px
  font-size: 90px
  color: #632467
  font-weight: 700
