@import ../bootstrap/scss/bootstrap.scss

@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css)
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css)
@import url('https://fonts.googleapis.com/css?family=Dancing+Script')

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.home
  background-color: #632467

.padding1
  padding: 100px

.btnchangelogin:hover
  background-color: #d0c616
  border-color: #e6e600
  color: #632467

.btnchangelogin
  margin: 80px 0
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  padding: 2rem 1rem
  font-size: 50px
  font-weight: 600
  border-radius: 20px

.text-box
  width: 100%
  overflow: hidden
  font-size: 50px
  padding: 8px 0
  margin: 70px 0
  border-bottom: 2px solid #ffffff

.text-box input
  border: none
  outline: none
  background: none
  font-size: 30px
  color: white

.form-sizing
  display: block
  width: 100%

::placeholder
   color: #e6e6e6

.mid-text
  color: white
  font-size: 35px
  text-align: center
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold

.mid-text-bottom
  color: white
  font-size: 32px
  text-align: center
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold
  margin: 30px 0

.Livel
  color: white
  font-size: 150px
  text-align: center
  margin: 130px
  font-family: Dancing Script
  font-weight: bold

/* O tamanho da fonte na tela Index é maior
.Livel-index
  color: white
  font-size: 200px
  font-family: Dancing Script
  font-weight: bold

.nav-menu
  background-color: #EF7D00
  padding: 13px 0px
  margin-bottom: 20px

.userimg
  border-radius: 50%
  padding: 0px
  width: 60%
  height: 100%
  border-style: solid
  border-color: #EF7D00
  border-width: 5px

.icon-menu
  padding: 0px
  width: 25%
  height: 100%
  margin: 0 3% 0 3%

.background-menuBar
  background-color: #ffffff
  padding-bottom: 3%

.row-menu2
  height: 200px

.userimg-menu2
  border-radius: 50%
  margin: 5% 0 0 15%
  width: 80%
  height: 50%
  border-style: solid
  border-color: #ff8c1a
  border-width: 8px

.growing-bars-menu2
  padding: 0px
  width: 90%
  height: 50%
  margin: 5% 0 0 0

.boxRightUpperRadius1 //Radius e etc do box do trainings
  font-size: 10vw
  text-align: center
  padding: 17px 15px
  font-weight: 700
  background-color: #FFBA2F
  border-radius: 0 40% 0 0

.boxRightUpperRadius2 //Radius e etc do box do trainings
  font-size: 10vw
  text-align: center
  padding: 17px 15px
  font-weight: 700
  background-color: #632467
  color: white
  border-radius: 0 40% 0 0

.boxRadiusSpot
  background-color: rgb(244, 244, 244)
  padding: 4vh 0

.marginTraining
  padding: 3vh 0
  background-image: linear-gradient(#E6E6E6, #FAFAFA)

.btntrainingchange:hover
  background-color: #d0c616
  border-color: #e6e600
  color: #632467

.btntrainingchangeUP //propriedades do botao da pagina trainings
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  padding: 2.5rem 2rem
  margin: 1.1vh 0
  font-size: 50px
  font-weight: 600
  border-radius: 20px
  width: 60% //para bloquear o tamanho do btn

.btntrainingchangeDOWN //propriedades do botao da pagina trainings
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  padding: 1.5rem 1rem
  margin: 1.1vh 0
  font-size: 40px
  font-weight: 600
  border-radius: 20px
  width: 40% //para bloquear o tamanho do btn

#texto-trainingTypes-1
  font-size: 50px
  margin-top: 80px
  margin-bottom: 20px
  margin-left: 56px
  color: #632467

#texto-trainingTypes-2
  font-size: 25px
  padding-top: 110px
  color: #A6A4A5

#texto-trainingTypes-3
  font-size: 32px
  padding-top: 80px
  margin-left: 10px
  color: #632467


.time-title
  text-align: center
  color: #800040
  padding: 150px 0 50px 0
  font-size: 300%
  font-weight: bold
  margin: 0 0 0 0

.pick-time
  display: flex
  flex-direction: column
  justify-content: center
  margin: 5% 27% 3% 27%
  height: 160px

.botao-horario
  height: 100%
  border-radius: 10%
  font-size: 80px
  font-weight: bold
  background-color: #ffffff
  color: #000000
  border-color: #ffffff

.schedule-background
  margin-right: -15px
  background-image: linear-gradient(#d9d9d9, #ffffff)

.image-index
  background-image: url("/images/FundoIndex.png")
  opacity: 0.3
  height: 100%
  width: 100%

.txt-over-img
  position: relative
  text-align: center
  color: white

.centered
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.training-mid-spot
  background-color: rgb(244, 244, 244)
  padding: 4vh 0
  margin-right: -15px

.training-mid-text
  color: #632467
  font-size: 50px
  text-align: center
  font-weight: bold

.training-timing-finalizacao
  font-size: 50px
  text-align: center
  font-weight: bold
  padding-top: 20px

.training-timing
  font-size: 55px
  text-align: center
  font-weight: bold
  padding-top: 15px
  color: #AC4B31

.row-correction //corigindo quando fica um espaço vazio na direita
  margin: 0px

.row-correction-right //corigindo quando fica um espaço vazio na direita co-relacionado com o do lado
  margin: -15px

.box-texts
  font-size: 30px
  color: #632467
  font-weight: 600

.backgroundcolor-boxes
  background-color: white
  border-radius: 7%
  padding: 20px 60px 40px 60px
  margin: 20px 0px

.total-time
  font-size: 90px
  padding-top: 13px
  font-weight: bold

.total-time-min
  font-size: 40px
  padding-top: 60px
  font-weight: bold

.minutes-left //minutos restantes pro final do treino
  font-size: 110px
  color: #0ECB8C
  font-weight: bold
  text-align: center

.series-left //numeros de series que restam pro final do treino
  font-size: 110px
  color: #0ECB8C
  font-weight: bold
  text-align: center
  padding-left: 240px

.btn-size
  font-size: 100px
  margin: 20px

.btn-training-border-radius
  border-radius: 50%

.btn-change-purple
  background-color: #632467
  border-color: #632467
  color: white

.margin-animated-btn-pre-training //para aumentar a margin top e bottom do botão animado
  margin: 10px

.btn-mid-training-bottom //propriedades do botao da pagina pre trainings
  background-color: #E7DB18
  border-color: #E7DB18
  color: #632467
  padding: 1rem 0.7rem
  margin: 0.8vh 0
  font-size: 45px
  font-weight: 600
  border-radius: 20px
  width: 50% //para bloquear o tamanho do btn

.finish-parabens //escrito parabens grande no final do treino
  text-align: center
  font-size: 80px
  color: #0ECB8C
  font-weight: bold

.finish-parabens-treino //escrito em baixo do parabens
  text-align: center
  font-size: 32px
  color: #0ECB8C
  font-weight: bold

.padding-parabens //padding maior pro escrito parabens
  padding: 50px 0

.finish-avalie //texto avalie seu treino
  text-align: center
  font-size: 38px
  color: #632467
  font-weight: bold
  padding: 20px 0


.starrating > input
  display: none // Remove radio buttons

.starrating > label:before
  content: "\f005" // Star
  margin: 2px
  font-size: 8em
  font-family: FontAwesome
  display: inline-block


.starrating > label
  color: #E1E1E1 // Start color when not clicked

.starrating > input:checked ~ label
  color: #E7DB18  // Set yellow color when star checked

.starrating > input:hover ~ label
 color: #E7DB18 // Set yellow color when star hover

.facebook-padding
  padding: 20px 0

.countdown-top-box
  height: 220px
  position: relative
  background-color: #F2F2F2
  margin-right: -15px

.countdown-top-label
  color: #632467
  font-weight: bold
  font-size: 45px
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
