@import ../bootstrap/scss/bootstrap.scss
@import url('https://fonts.googleapis.com/css?family=Dancing+Script')

body
  padding: 100px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#signup
  background-color: #cc3399

.btn-primary
  background-color: #ffff00
  border-color: #ffff00
  color: #cc3399

.btn-primary:hover
  background-color: #e6e600
  border-color: #e6e600
  color: #cc3399

.btn
  margin: 80px 0
  padding: 2rem 1rem
  font-size: 50px
  font-weight: 600
  border-radius: 20px

.text-box
  width: 100%
  overflow: hidden
  font-size: 50px
  padding: 8px 0
  margin: 70px 0
  border-bottom: 2px solid #ffffff

.text-box input
  border: none
  outline: none
  background: none
  font-size: 30px
  color: white

::placeholder
   color: #e6e6e6

.mid-text
  color: white
  font-size: 35px
  text-align: center
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold

.mid-text-bottom
  color: white
  font-size: 32px
  text-align: center
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold
  margin: 30px 0

.Livel
  color: white
  font-size: 150px
  text-align: center
  margin: 80px
  font-family: Dancing Script
  font-weight: bold

.menubar
  background-color: #ff8c1a
  margin: 0 0 15px 0

.userimg
  border-radius: 50%
  padding: 0px
  width: 60%
  height: 100%
  border-style: solid
  border-color: #ff8c1a
  border-width: 5px

.icon-menu
  padding: 0px
  width: 25%
  height: 100%
  margin: 0 3% 0 3%
