<head>
  <link rel='stylesheet' href='/stylesheets/css/alunos/countdownTraining/styles.css'>
</head>
<body>
  <div class="countdown-top-box">
    <div class="countdown-top-label">
      {{treinoTipo}}
    </div>
  </div>
  <div class="countdown-background">
    <div class="time-mid-box">
      <div class="countdown-mid-label">
        SEU TREINO COMEÇA EM:
      </div>
      <div class="time-to-t" id="time-mid-box">
      </div>
    </div>
    <div class="countdown-bot-label">
      "Seu corpo é sua morada. Cuide-se!"
    </div>
    <div class="button-container-ctdwn">
      <button class="countdown-button btn btn-primary" onclick="location.href='/trainingTypes'">DESMARCAR</button>
    </div>
  </div>
</body>
<script>
var horario= new Date;
// horario.setHours( horario.getHours() + 3 ); //acrescenta horas para fazer o countdown
horario.setHours( 23 ); //muda o hora
horario.setMinutes( 00 );   //muda o minuto
horario.setSeconds( 00 );


var deadline = horario.getTime();
  var x = setInterval(function() {
  var acabou=0;
  var now = new Date().getTime();
  var t = deadline - now;
  var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
  var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((t % (1000 * 60)) / 1000);
  hours = hours < 10 ? "0" + hours : hours;
  minutes = minutes < 10 ? "0" + minutes : minutes;
  seconds = seconds < 10 ? "0" + seconds : seconds;
  document.getElementById("time-mid-box").innerHTML =hours+ ":" + minutes + ":" + seconds;
  if (t < 0) {
          clearInterval(x);
          acabou=1;
          window.location.pathname = "/midTraining";
          document.getElementById("demo").innerHTML = "";
          document.getElementById("time-mid-box").innerHTML =hours + ":" + minutes + ":" + seconds;
  }
  }, 1000);
</script>
