<head>
  <link rel='stylesheet' href='/stylesheets/css/alunos/rewards/styles.css'>
  <link rel='stylesheet' href='/stylesheets/css/global.css'>
</head>
<body>

<meta>
    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/rewards.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</meta>

<div class="trofeu">
  <script>
    if (count>=12){
      document.write("<img src='/images/trof12full.png' style='width:230px' alt='image'>")
    } else {
      document.write("<img src='/images/trof12trans.png' style='width:230px' alt='image'>")}
  </script>
  <br>
  <br>
  <font size="5">
  12 treinos/mês
  <br>
  <b>Ganhe 100 Livel Pontos</b>
</font>
</div>

<div class="medalha10">
  <script>
    if (count>=10){
      document.write("<img src='/images/trof10full.png' style='width:230px' alt='image'>")
    } else {
      document.write("<img src='/images/trof10trans.png' style='width:230px' alt='image'>")}
  </script>
  <br>
  <br>
  <font size="5">
  10 treinos/mês
  <br>
  <b>Ganhe 60 Livel Pontos</b>
  </font>
</div>

<div class="medalha8">
  <script>
    if (count>=8){
      document.write("<img src='/images/trof8full.png' style='width:230px' alt='image'>")
    } else {
      document.write("<img src='/images/trof8trans.png' style='width:230px' alt='image'>")}
  </script>
  <br>
  <br>
  <font size="5">
  8 treinos/mês
  <br>
  <b>Ganhe 40 Livel Pontos</b>
  </font>
  </div>

<div class="medalha6">
  <script>
    if (count>=6){
      document.write("<img src='/images/trof6full.png' style='width:230px' alt='image'>")
    } else {
      document.write("<img src='/images/trof6trans.png' style='width:230px' alt='image'>")}
  </script>
  <br>
  <br>
  <font size="5">
  6 treinos/mês
  <br>
  <b>Ganhe 20 Livel Pontos</b>
  </font>
</div>

<script>

</script>

<div class="rodape">
<div class="gradback2">
<img src="/images/Grupo170.png" style="position:relative; width:225px; height:125px; right:-110px; bottom:-125px">
<img src="/images/Caminho117.png" style="position:relative; width:65px; height:65px; right:-195px; bottom:-100px">
<img src="/images/Façasuamatricula.png" style="position:relative; width:85px; height:65px; right:-133px; bottom:-175px">
<img src="/images/Caminho122.png" style="position:relative; width:25px; height:25px; right:-150px; bottom:-175px">
<img src="/images/Caminho115.png" style="position:relative; width:65px; height:65px; right:-175px; bottom:-100px">
<img src="/images/Acumulepontos.png" style="position:relative; width:85px; height:65px; right:-108px; bottom:-175px">
<img src="/images/Caminho122.png" style="position:relative; width:25px; height:25px; right:-123px; bottom:-175px">
<img src="/images/Caminho116.png" style="position:relative; width:65px; height:65px; right:-155px; bottom:-100px">
<img src="/images/Troqueseuspontosporprodutos.png" style="position:relative; width:195px; height:65px; right:-85px; bottom:-175px">
<div class="textoreward" >
Você possui um total de <b>{{aluno_treinos.PontosLivel}}</b> pontos
</div>

</div>
</div>
</body>