<head>
  <link rel='stylesheet' href='/stylesheets/css/alunos/timeSchedule/styles.css'>
  <link rel='stylesheet' href='/stylesheets/css/global.css'>
</head>
<body>
  <div class="schedule-background">
    <div class="time-title">
      MARQUE SEU HORÁRIO
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-outline-light botao-horario" onclick="location.href='/countdownTraining'">13:00</button>
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-outline-light botao-horario"  onclick="location.href='/countdownTraining'">13:30</button>
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-outline-light botao-horario" onclick="location.href='/countdownTraining'">14:00</button>
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-outline-light botao-horario" onclick="location.href='/countdownTraining'">14:30</button>
    </div>
    <div class="pick-time">
      <button type="button" class="btn btn-outline-light botao-horario" onclick="location.href='/countdownTraining'">15:00</button>
    </div>
    <div class="pick-time"></div>
    
    <div class="return">
      <img id="seta-timeSchedule" src="/images/setacinza.png" height="75" onclick="location.href='/trainingTypes'" style="position:relative; right:-90px; bottom:-10px">
      </img>
    </div>

  </div>
    <div class="col-md-12 text-center">
              <button class="btntrainingchangeDOWN btn" onclick="">DESMARCAR</button>
      </div>
    <div class="col-md-12 text-center">
              <button class="btntrainingchangeDOWN btn" onclick="location.href='/trainingTypes'">RETORNAR</button>
      </div>
</body>
