<body class = "home">
	<div class = "padding1">
  <h1 class = "Livel">
    Livel
  </h1>
<form>
  <div class = "mid-text">Senha</div>
  <div class = "login-box">
    <div class = "text-box">
    <input type="password" placeholder="senha" class="form-sizing">
    </div>
  </div>
</form>
<div class = "btnlogin">
 <button  id = "singupbutton" type="button" class="btnchangelogin btn btn-primary btn-block">ENTRAR</button>
</div>
	</div>
</body>