<body>
     <!-- Rounded switch -->
      <div class="toggle-switch">
        <input type="checkbox" class="toggle-switch-checkbox" name="toggleSwitch" id="toggleSwitch" />
          <label class="toggle-switch-label" for="toggleSwitch">
            <span class="toggle-switch-inner"></span>
            <span class="toggle-switch-switch"></span>
          </label>
      </div>
























</body>