<head>
    <link rel='stylesheet' href='../../public/stylesheets/css/professor/coachAvaliation/styles.css'>
</head>

<body>

    <meta>
    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/stars.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    </meta>


<div class="coach-background">
<div class="textcoachgrade">
    Sua nota é:
</div>

<div class="coachgrade">
    4,5
</div>


<div id="container">
<!-- estrela 1 -->
    <div class="star_p1 d-flex justify-content-center flex-row-reverse">
        <script>
            if (star>=1.0){
                    document.write("<img src='/images/full_star.png' style='width:150px' alt='image'>")
            } else if ((star>=0.5) && (star<1.0)){
                    document.write("<img src='/images/semi_star.png' style='width:150px' alt='image'>")
            } else{
                    document.write("<img src='/images/graystar.png' style='width:150px' alt='image'>")}
        </script>
    </div>
<!-- estrela 2 -->
    <div class="star_p2 d-flex justify-content-center flex-row-reverse">
        <script>
            if (star>=2.0){
                    document.write("<img src='/images/full_star.png' style='width:150px' alt='image'>")
            } else if ((star>=1.5) && (star<2.0)){
                    document.write("<img src='/images/semi_star.png' style='width:150px' alt='image'>")
            } else{
                    document.write("<img src='/images/graystar.png' style='width:150px' alt='image'>")}
        </script>
    </div>
<!-- estrela 3 -->
    <div class="star_p3 risingstar d-flex justify-content-center flex-row-reverse">
        <script>
            if (star>=3.0){
                    document.write("<img src='/images/full_star.png' style='width:150px' alt='image'>")
            } else if ((star>=2.5) && (star<3.0)){
                    document.write("<img src='/images/semi_star.png' style='width:150px' alt='image'>")
            } else{
                    document.write("<img src='/images/graystar.png' style='width:150px' alt='image'>")}
        </script>
    </div>
<!-- estrela 4 -->
    <div class="star_p4 risingstar d-flex justify-content-center flex-row-reverse">
        <script>
            if (star>=4.0){
                    document.write("<img src='/images/full_star.png' style='width:150px' alt='image'>")
            } else if ((star>=3.5) && (star<4.0)){
                    document.write("<img src='/images/semi_star.png' style='width:150px' alt='image'>")
            } else{
                    document.write("<img src='/images/graystar.png' style='width:150px' alt='image'>")}
        </script>
    </div>
<!-- estrela 5 -->
    <div class="star_p5 risingstar d-flex justify-content-center flex-row-reverse">
        <script>
            if (star>=5.0){
                    document.write("<img src='/images/full_star.png' style='width:150px' alt='image'>")
            } else if ((star>=4.5) && (star<5.0)){
                    document.write("<img src='/images/semi_star.png' style='width:150px' alt='image'>")
            } else{
                    document.write("<img src='/images/graystar.png' style='width:150px' alt='image'>")}
        </script>
    </div>


</div>
</div>

</body>